* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Plus Jakarta Sans', sans-serif;
}



.nav-container{
    background-image: url("images/background-image.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    
    height: 100vh;
    /* box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border-bottom:1px solid rgba(255, 255, 255, 0.3) ;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px); */
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;

    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border-bottom:1px solid rgba(255, 255, 255, 0.3) ;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links  li{
    padding: 10px;
    transition: background-color 1s;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.nav-links li:hover{
    background-color: rgba(190, 71, 71, 0.733);

}


.nav-button {
    border: none;
    background: none;
    display: none;
}
.nav-button:hover{
    background-color: red;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(36, 31, 33);
}

.img-gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    width: 80%;
}

.img-gallery .gallery {
    width: 100%;
    height: auto;
    /* padding: 10px; */
}

.img-gallery button {
    position: relative;
    border: none;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    /* width: 24px; */
    padding: 40px 10px;
}
.button-left{
    left: 5%;
    background-image: url(images/chevron-left.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.button-right {
    right: 5%;
    background-image: url(images/chevron-right.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.img-gallery button:hover{
    background-color:rgba(190, 71, 71, 0.733);
}

@media only screen and (max-width: 770px) {
    /* .nav-links{
        display: none;
    } */
    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: -200px;
        left: 0;

        background-color: rgba(255,255,255,0.3);
        backdrop-filter: blur(20px);
        transition: top 0.3s;
    }
    .nav-links-toggle{
        top: calc(40px);
    }

    .nav-button{
        display: inline-block;
    }
}