.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 500px 500px; */
    gap: 10px;
}

.container div {
    border: 1px solid black;
    display: flex;
    /* width: 500px;
    height: 500px; */
}
.container img {
    width: 100px;
}